.container {
  background: black;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  &.title {
    border: 5px solid greenyellow;
  }
}
:global {
  .span {
    color: yellow;
    font-weight: bold;
  }
}
